{{ define "base" }}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="BondDB web view">
        <meta name="keywords" content="graph, node, edge">
        <meta name="author" content="Jenda Mudron">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>BondDB</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.green-deep_orange.min.css" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
        <link rel="stylesheet" href="static/custom.css" />

        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->
    </head>
    <body>

        {{ template "content" }}
        <footer></footer>

    </body>
</html>
{{ end }}

<!-- empty blocks for optional content -->
{{ define "scripts" }}{{ end }}
{{ define "sidebar" }}{{ end }}  