{{ define "title" }}Edges{{ end }}
{{ define "table" }}
<table class="mdl-data-table">
    <thead>
        <th class="mdl-data-table__header--sorted-ascending">ID</th>
        <th>Head node ID</th>
        <th>Label</th>
        <th>Tail node ID</th>
    </thead>
    <tbody>
        {{ range $edge := getEdges }}
            <tr>
                <td>{{ $edge.GetID }}</td>
                <td>{{ $edge.GetHead.GetID }}</td>
                <td>{{ $edge.GetLabel | printf "%s" }}</td>
                <td>{{ $edge.GetTail.GetID }}</td>
            </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}