{{ define "content" }}
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <!-- main header -->
    <header class="mdl-layout__header mdl-shadow--0dp">
        <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">
            <h2><a id="logo" href="/">BondDB</a></h2>
            <div class="mdl-tooltip" data-mdl-for="logo">
                Takes you back to the index page
            </div>
        </span>
    </header>
    <!-- End main header -->

    <!-- sidebar content -->
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">BondDB</span>
        <nav class="mdl-navigation">
            {{ template "sidebar-links" . }}
        </nav>
    </div>
    <!-- end sidebar content -->

    <!-- main page content goes here -->
    <main class="mdl-layout__content">
        <div class="page-content">
            {{ template "body" . }}
        </div>
    </main>
    <!-- End main page content -->

</div>
{{ end }}