{{ define "left-card" }}
<div class="mdl-cell mdl-cell--12-col">

    <div class="mdl-card-wide mdl-shadow--8dp">

        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Search</h2>
        </div>

        <div class="mdl-card__supporting-text">
            {{ template "left-card-body" . }}
        </div>

        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/">
            Find Nodes
            </a>
        </div>

    </div>

</div>
{{ end }}