{{ define "left-card-body" }}

<form action="#">
    <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" , id="search">
        <label class="mdl-textfield__label" for="search">Search</label>
    </div>
</form>

{{ end }}