{{ define "title" }}Nodes{{ end }}
{{ define "table" }}
<table class="mdl-data-table">
    <thead>
        <th class="mdl-data-table__header--sorted-ascending">ID</th>
        <th>Label</th>
        <th>Inbound edge count</th>
        <th>Outbound edge count</th>
    </thead>
    <tbody>
        {{ range $node := getNodes }}
            <tr>
                <td>{{ $node.GetID }}</td>
                <td>{{ $node.GetLabel | printf "%s" }}</td>
                <td>{{ len $node.GetInEdges }}</td>
                <td>{{ len $node.GetOutEdges }}</td>
            </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}