{{ define "body" }}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">

        <!-- start card -->
        <div class="mdl-card-wide mdl-card--border mdl-shadow--8dp">

            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">
                    {{ template "title" }}
                </h2>
            </div>

            <div class="mdl-card__supporting-text">
                {{ template "table" . }}
            </div>

            <!-- 
            <div class="mdl-card__menu">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
                    <i class="material-icons mdl-color-text--white" role="presentation">add</i>
                </button>
            </div>
            -->

        </div>
        <!-- end card -->

    </div>
</div>
{{ end }}