{{ define "right-card" }}
<div class="mdl-cell mdl-cell--12-col">

    <div class="mdl-card-wide mdl-shadow--8dp">

        <!-- title start -->
         <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Graph Summary</h2>
         </div>
         <!-- end title -->

        <!-- supporting text start -->
        <div class="mdl-card__supporting-text">
            <div style="padding-bottom: 4px">

                <span class="mdl-badge" data-badge={{ nodeCount }}>
                    <a href="/nodes" style="text-decoration: none">Nodes</a>
                </span>

                <span class="mdl-badge" data-badge={{ edgeCount }} style="padding-left: 8px">
                    <a href="/edges" style="text-decoration: none">Edge</a>
                </span>

            </div>
            <div>Store type: in-memory</div>
        </div>
        <!-- end supporting text -->

    </div>
</div>
{{ end }}