{{ define "sidebar-links" }}
    <a id="ttHome" class="mdl-navigation__link" href="/">Home</a>
    <div class="mdl-tooltip" data-mdl-for="ttHome">
        Back to home page
    </div>

    <a id="ttNodes" class="mdl-navigation__link" href="/nodes">Nodes</a>
    <div class="mdl-tooltip" data-mdl-for="ttNodes">
        Show all nodes
    </div>

    <a id="ttEdges" class="mdl-navigation__link" href="/edges">Edges</a>
    <div class="mdl-tooltip" data-mdl-for="ttEdges">
        Show all edges
    </div>

    <hr>
    <a id="ttGithub" class="mdl-navigation__link" href="https://gitlab.com/bonddb">Github</a>
    <div class="mdl-tooltip" data-mdl-for="ttGithub">
        Takes you to the source on <strong>Github</strong>
    </div>

    <a id="ttPowered" class="mdl-navigation__link" href="https://getmdl.io/components/index.html">Powered by MDL</a>
    <div class="mdl-tooltip" data-mdl-for="ttPowered">
        Takes you to <strong>Material Design Light</strong> page
    </div>

    <a id="ttAbout" class="mdl-navigation__link" href="https://gitlab.com">About</a>
    <div class="mdl-tooltip" data-mdl-for="ttAbout">
        About me
    </div>

{{ end }}